@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* CSS Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Main Styling */
html, 
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  scroll-behavior: smooth;
  background: #1e1e1e;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
  color: #fff;
}
a {
  color: #fff;
  text-decoration: none;
}

/* Utility Classes */
.btn {
  display: inline-block;
  border: none;
  border-radius: 10px;
  color: #fff;
  background: rgb(31, 143, 255);
  font-size: 18px;
  cursor: pointer;
  padding: 15px 20px;
  transition: all .2s;
}

.btn-light {
  color: rgb(31, 143, 255);
  background: #fff;
}

.btn-saints {
  background-color: #775297;
  color: #fff;
}

.btn-light-red {
  color: rgb(255, 31, 31);
  background: #fff;
}

.btn-red {
  background-color: rgb(231, 59, 59);
  color: #fff;
}

.btn:hover {
  box-shadow: 0 0 20px rgba(48, 155, 255, 0.747);
}

.btn-light:hover {
  box-shadow: 0 0 20px rgba(48, 155, 255, 0.747);
}

.btn-light-red:hover {
  box-shadow: 0 0 20px rgba(255, 48, 48, 0.747);
}

.btn-red:hover {
  box-shadow: 0 0 20px rgba(255, 48, 48, 0.747);
}

.btn-saints:hover {
  box-shadow: 0 0 20px #a264d8d8;
}

.heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 10px 0;
  color: #fff;
}

.heading-l { font-size: 3rem; }
.heading-m { font-size: 2rem; }
.heading-s { font-size: 1.3rem; }

.py-1 { padding: 10px 0;}
.py-2 { padding: 20px 0;}
.py-3 { padding: 30px 0;}

.p-20 { font-size: 20px; }
.p-19 { font-size: 19px; }
.p-l8 { font-size: 18px; }
.p-15 { font-size: 15px; }

.bold { font-weight: 600;}

.text-primary { color: rgb(31, 143, 255); }

.text-justify{
  text-align: center;
}

.wrap {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1300px;
  max-height: 100%;
}

.flex-container {
  display: flex;
  height: 100%;
}

.theme {
  padding:0.5px 7px;
  margin-left: 10px;
  font-size: 12px;
  color: white;
  display: inline-block;
  border-radius: 10px;
  font-weight: 500;
  position: relative;
  bottom: 5px;
}

.theme-red{
  background: rgb(235, 61, 61);
}

.theme-blue{
  background: dodgerblue;
}

.inline {
  display: inline;
}

/* Navigation Styling */
header {
  position: sticky;
  top: 0;
  height: 6vh;
}

#navbar {
  background-color: rgba(30, 30, 30, 0.05);
  overflow: hidden;
  padding: 15px 10px;
}

#navbar .flex-container {
   justify-content: space-between;
   align-items: center;
}

#navbar .logo { display: flex;}

#navbar .txt-logo { 
  padding: 0;
  margin: 0;
  font-weight: 600; 
}

#navbar .logo i {
  margin-right: 10px;
  color: #f4f4f4;
}

/* #navbar img{
  max-width: 7.5%;
  padding: 0;
  margin-right: 10px;
  display: inline-block;
} */

#navbar ul {
  list-style-type: none;
  display: inline-flex;
}

#navbar ul li a { 
  padding: 20px; 
  transition: all 0.3s;
  font-weight: 400;
  text-align: center;
  position: relative;
}

#navbar ul li a:hover {
  background-color: rgba(0, 0, 0, 0.055);
}

#navbar ul li a.current {
  font-weight: 500;
}

/* Showcase Section Styling */
#showcase {
  margin-top: -6vh;
  height: 100vh;
  width: 100%;
  text-align: center;
  color: white;
  overflow: hidden;
  background: linear-gradient(rgba(36, 129, 236, 0.9), rgb(22, 22, 22)), 
  url("https://images.unsplash.com/photo-1563212034-a3c52118cce2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80") 
  fixed no-repeat center center/cover;
  display: flex;
  align-items: center;
}

#showcase .flex-container {
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#showcase .buttons-wrap {
  /* border: 1px #ddd solid; */
  height: 50px;
  width: 400px;
  margin-top: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#showcase .btn {
  padding: 15px 60px;
}

/* Calculators Section Styling */
#calculators {
  height: 100vh;
  background: #1e1e1e;
  padding-top: 4%;
  width: 100%;
  align-items: center;
  margin: auto;
}

#calculators .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  justify-content: center;
  grid-gap: 10px;
}

.card {
  background: rgb(71, 71, 71);
  height: 400px;
  width: 300px;
  margin: 7px;
  animation: scaledown 0.2s linear;
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}

.card:hover {
  animation: scale 0.2s linear;
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}

@keyframes scaledown {
  0% {
    transform: scale(1.04);
  }

  100% {
    transform: scale(1.0);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.04);
    box-shadow: 10px 10px 60px 10px rgba(0, 0, 0, 0.349);
  }
}

.card-top {
  width: 100%;
  height: 40%;
  background: red;
  padding: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-bottom {
  width: 100%;
  height: 60%;
  padding: 13px 20px;
  background: #272727;
}

.card-bottom p{
  height: 62%;
}

#card-1 .card-top {
  background: linear-gradient(#775297e5, rgba(22, 22, 22,0.8)),
  url('https://images.unsplash.com/photo-1561112079-2c3226d9c559?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80') no-repeat center center/cover;
}

#card-2 .card-top {
  background: linear-gradient(rgba(36, 236, 119, 0.9), rgba(18, 54, 37, 0.8)),
  url('https://images.unsplash.com/photo-1632571401005-458e9d244591?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1171&q=80') no-repeat center center/cover;
}

#card-2 button { background: rgb(32, 212, 107); }
#card-2 button:hover { box-shadow: 0 0 20px rgba(36, 236, 119, 0.7); }

#card-3 .card-top {
  background: linear-gradient(rgba(236, 36, 36, 0.8), rgba(54, 18, 18, 0.8)),
  url('https://images.unsplash.com/photo-1509228468518-180dd4864904?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80') no-repeat center center/cover;
}

#card-3 button { background: rgb(226, 58, 58); }
#card-3 button:hover { box-shadow: 0 0 20px rgba(226, 58, 58, 0.7); }

#card-4 .card-top {
  background: linear-gradient(rgba(236, 216, 36, 0.9), rgba(22, 22, 22,0.8)),
  url('https://images.unsplash.com/photo-1502570149819-b2260483d302?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') no-repeat center center/cover;
}

#card-4 button { background: rgb(172, 157, 27); }
#card-4 button:hover { box-shadow: 0 0 20px rgba(172, 157, 27, 0.7); }

#calculators h1{
  text-align: center;
  padding-top: 90px;
  padding-bottom: 45px;
}

#calculators .btn {
  margin-top: 10px;
  width: 100%;
  padding: 10px 20px;
}

/* Quadratic Equation Solver Styling */
#showcase-quadratic {
  margin-top: -6vh;
  height: 40vh;
  width: 100%;
  text-align: center;
  color: white;
  overflow: hidden;
  background: linear-gradient(rgba(36, 123, 236, 0.9), rgb(22, 22, 22)), 
  url("https://images.unsplash.com/photo-1563212034-a3c52118cce2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80") 
  fixed no-repeat center center/cover;
  display: flex;
  align-items: center;
}

#showcase-quadratic .flex-container {
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#showcase-quadratic .buttons-wrap {
  /* border: 1px #ddd solid; */
  height: 50px;
  width: 400px;
  margin-top: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#showcase-quadratic .btn {
  width: 180px;
}

/* Main Quadratic Section Styling */
#quadratic-main {
  padding-top: 30px;
}

#quadratic-main .btn {
  width: 100%;
  margin: 10px 0;
  padding: 13px 10px;
}

#quadratic-main .info-left {
  max-width: 55%;
}

#quadratic-main .form-wrap {
  background: rgb(39, 39, 39);
  width: 50%;
  height: 360px;
  padding: 15px 30px;
  border-radius: 10px;
  margin-left: 10px;
}

#quadratic-main .flex-container {
  align-items: center;
}

#quadratic-main .form-wrap .flex-container {
  justify-content: space-between;
}

#quadratic-main .number-input {
  width: 30%;
  padding: 13px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
  border: 1px solid #f4f4f49d;
  background-color: #f4f4f400;
  color: #fff;
}

#quadratic-main .form-wrap .form-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#quadratic-main .form-wrap .form-heading #equationPreview{
  background-color: #353535;
  padding: 3px 8px;
}

#quadratic-main .number-input:focus {
  border-color: #f4f4f4;
}


/* Footer Styling */

/* Scrollbar Styling */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  border-radius: 10px;
}