@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Minimal CSS Reset */

/* https://www.digitaloc
ean.com/community/tutorials/css-minimal-css-reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* HTML Elements Styling */

li, a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

strong {
  font-weight: 600;
}

/* Custom properties */
:root {
  --link-hover-color: #51a6fc;
  --primary-color: rgb(255, 255, 255);
  --background-color: #1e1e1e;
  --header-background-color: #222222;
  --text-color: #fff;
}

/* Utility Classes */

.pt-2pr{
  padding-top: 2%;
}

.button-primary {
  margin-top: 20px;
  padding: 10px 20px;
  color: var(--background-color);
  background: var(--text-color);
  display: inline-block;
  font-weight: bold;
  border-radius: 10px;
}

.btn{
  margin-top: 20px;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: dodgerblue;
  color: white;
  transition: all 0.2s ease-in-out;;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.glow-btn:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px rgba(48, 155, 255, 0.747);
}

.heading-1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 10px 0;
  font-size: 2.2rem;
  color: var(--text-color);
}

.heading-2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 10px 0;
  font-size: 1.5rem;
  color: var(--text-color);
}

.txt-primary{
  color: var(--primary-color);
}

.sticky {
  position: fixed;
  top: 0;
}

.wrap-1 {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrap-2 {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

.paragraph {
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin: 10px 0;
}

/* Navigation Styling */

header{
  background-color: var(--header-background-color);
}

nav {
  height:7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li{
  display: inline;
  margin-left: 13px;
}

nav ul li a{
  color: var(--text-color);
  transition: .3s;
}

nav ul li a:hover {
  color: var(--link-hover-color);
}

#logo{
  font-size: 1.3rem;
}

/* Main section styling */

.flex-container{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.flex-container2{
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-start;
}

.flex-item {
  padding-right: 80px;
  
}

#main-section{
  width: 100%;
  height: 93vh;
  background-color: var(--background-color);
}

#info h1{
  /* position: relative; */
  margin-top: 15%;
}

#form-wrap{
  width: 500px;
  height: 380px;
  background: var(--header-background-color);
  margin-top: 5%;
  padding: 15px 26px;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#form-wrap h2{
  margin-top: 0;
  padding-top: 0;
}

#form-wrap p{
  margin-top: 0;
  padding-top: 0;
  padding: 14px 0;
  color: var(--text-color);
  line-height: 1.5rem;
  font-size: 1rem;
}

#form-wrap form button {
  width: 100%;
  margin-top: 10px;
}

.number-input{
  width: 100%;
  margin-bottom: 13px;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

input[type=number]:focus{
  outline: 2px solid dodgerblue;  
}


.hr {
  width: 70%;
  height: 1px;
  background: #f4f4f46e;
}

.home-nav{
  margin-top: 10px;
  list-style-type: none;
}

.home-nav li::before{
  content: "\2022";
  color: var(--link-hover-color);
  margin-right: 10px;
  font-weight: bold;
  font-size: 1.5rem;
}

.home-nav li a {
  color: var(--text-color);
  font-size: 1.1rem;
}

